<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
    <form [formGroup]="passwordForm" class="flex flex-col gap-3 pt-2 w-[350px]">

        <!-- Current Password -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="hideCurrent() ? 'password' : 'text'" formControlName="currentPassword">
            <button mat-icon-button matSuffix (click)="hideCurrent.set(!hideCurrent())">
                <mat-icon>{{ hideCurrent() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Required</mat-error>
        </mat-form-field>

        <!-- New Password -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hideNew() ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hideNew.set(!hideNew())">
                <mat-icon>{{ hideNew() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (passwordForm.get('newPassword')?.hasError('minlength')) {
            <mat-error>At least 6 characters</mat-error>
            }
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Confirm New Password</mat-label>
            <input matInput [type]="hideNew() ? 'password' : 'text'" formControlName="confirmNewPassword">
            @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmNewPassword')?.touched) {
            <mat-error>Passwords do not match</mat-error>
            }
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="passwordForm.invalid || isLoading()" (click)="save()">
        {{ isLoading() ? 'Updating...' : 'Update Password' }}
    </button>
</mat-dialog-actions>