<div class="flex h-screen bg-gray-100">

  <!-- Sidebar -->
  <mat-sidenav-container class="h-full w-72 shadow-xl">
    <mat-sidenav mode="side" opened class="bg-gray-900 text-gray-200 flex flex-col">

      <!-- Logo -->
      <div class="p-6 flex items-center gap-3 border-b border-gray-700">
        <mat-icon class="text-blue-500">admin_panel_settings</mat-icon>
        <h2 class="text-2xl font-semibold">Admin Panel</h2>
      </div>

      <!-- User Profile -->
      <div class="p-6 border-b border-gray-700">
        <div class="flex items-center gap-3">
          <div>
            <p class="font-semibold text-black">Admin User</p>
          </div>
        </div>
      </div>

      <!-- Navigation -->
      <nav class="flex flex-col gap-1 p-4">

        <a mat-button routerLink="/admin/dashboard"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">dashboard</mat-icon>
            <span>Dashboard</span>
        </a>

        <a mat-button routerLink="/admin/products"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">inventory_2</mat-icon>
            <span>Products</span>
        </a>

        <a mat-button routerLink="/admin/categories"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">category</mat-icon>
            <span>Categories</span>
        </a>

        <a mat-button routerLink="/admin/brands"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">storefront</mat-icon>
            <span>Brands</span>
        </a>

        <a mat-button routerLink="/admin/orders"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">receipt_long</mat-icon>
            <span>Orders</span>
        </a>

        <a mat-button routerLink="/admin/users"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">group</mat-icon>
            <span>Users</span>
        </a>

        <a mat-button routerLink="/admin/roles"
          routerLinkActive="active-nav"
          class="nav-item w-full !justify-start !items-center !text-left">
            <mat-icon class="mr-3">shield</mat-icon>
            <span>Roles</span>
        </a>

      </nav>



      
      <div class="mt-auto p-6 border-t border-gray-700">
      </div>

    </mat-sidenav>
  </mat-sidenav-container>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">


    <!-- Routed Pages -->
    <div class="p-6 overflow-y-auto flex-1">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
